.bt-box {
	box-sizing: border-box;
	min-height: 80vmin;
	background-color: var(--bt-dark);
	border-right: var(--bt-border);
	padding: 5vh 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.bt-innerBox {
	box-sizing: border-box;
	max-width: 100%;
	max-width: 100%;
}
.bt-level {
	display: flex;
	position: relative;
}
.bt-outer-node {
	box-sizing: border-box;
}
.bt-arrow {
	border-color: rgb(90, 115, 239) !important;
	box-sizing: border-box;
	filter: drop-shadow(0px 0px 10px);
}
.bt-space-left {
	background-color: rgb(132, 86, 2);
}
.bt-space-right {
	background-color: rgb(86, 194, 127);
}
.bt-space-before {
	background-color: rgb(180, 66, 66);
}

.bt-node {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	position: relative;
	border-radius: 50%;
	cursor: default;
	background: linear-gradient(
		45deg,
		var(--bt-purple-light),
		var(--bt-purple),
		var(--bt-dark)
	);
	font-weight: bold;
	color: var(--bt-dark);
	filter: drop-shadow(0px 0px 4vw var(--bt-purple));
	z-index: 1;

}
.bt-node:hover {
	filter: drop-shadow(0px 0px 0.3vw var(--bt-light));
}
.bt-node-selected {
	filter: drop-shadow(0px 0px 0.1vw var(--bt-light));
}
.bt-node-selected:hover {
	filter: drop-shadow(0px 0px 0.1vw var(--bt-light));

}


.bt-hoverBox {
	position: absolute;
	font-size: 1vw;
	display: flex;
	flex-direction: column;
	top: 70%;
	left: 70%;
	background-color: var(--bt-purple-light);
	width: 14vw;
	text-align: center;
	z-index: 100000;
	border-radius: 10%;
	color: var(--bt-purple-dark);
	padding: 0.1vw 0.1vw;
	border: 1px solid;
	visibility: hidden;
}
.bt-hoverBox > div {
	padding: 4% 0%;
	border-bottom: 1px solid;
}

