.g0 {
	/* background-color: theme('bg-blue-400'); */
}
.g1 {
	background-color: rgb(30 58 138 / var(--tw-bg-opacity));
}
.g2 {
	background-color: rgba(0, 0, 0, 0.837);
	border-radius: 100%;
}
.g3 {
	background-color: rgba(97, 212, 95, 0.7);
	border-radius: 3%;
}
.gsel {
	border: 5px solid green;
}
.ghigh {
	background-color: rgba(255, 0, 0, 0.449);
}
.ghigh2 {
	background-color: grey;
}